@import 'normalize.less';
@import 'reset.less';
@import 'utilities.less';
@import 'variables.less';

html {

  font-size: @font-size-base;
  color: @color-primary;
}

p,
span {

  font-size: 1rem;
  line-height: @baseline;
  margin-bottom: @baseline;
}

h1 {

  font-size: 2rem;
  line-height: 2 * @baseline;
  margin-bottom: @baseline;
  padding-top: 3px;
}

h2 {

  font-size: 1.66rem;
  line-height: 2 * @baseline;
  margin-bottom: @baseline;
  padding-top: 3px;
}

h3 {

  font-size: 1.33rem;
  line-height: 2 * @baseline;
  margin-bottom: @baseline;
  padding-top: 3px;
}

body {

  display: flex;
  flex: 1;
}

.Main,
.Nav {

  display: flex;
  flex: 1;
  padding-top: 40px;
}

.Main {}

.Nav {

  flex: 0 20rem;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  background: black;
  color: white;

  &__item {

    cursor: pointer;

    > span {

      position: relative;
      display: inline-block;
      line-height: 2 * @baseline;
      margin-bottom: @baseline;
      font-size: 40px;
      color: white;

      &:after {

        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background: white;
        will-change: width;
        transition: width .15s ease, height .15s ease;
      }
    }

    &:hover span:after {

      width: 120%;
    }

    &:active span:after {

      width: 180%;
    }

    &--active span:after {

      width: 160%;
      height: 4px;
    }

    &--active:active span:after {

      width: 180%;
      height: 1px;
    }
  }

  > p {

    margin-top: 3 * @baseline;
  }
}