<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body class="body">
    <main class="Main" ng-class="{'Main--nav-mode':hovering}">
      <wrapper ui-view="main"></wrapper>
    </main>
    <nav class="Nav" role="navigation" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
      <a class="Nav__item" ui-sref="home" ui-sref-active="Nav__item--active"><span>home</span></a>
      <a class="Nav__item" ui-sref="about" ui-sref-active="Nav__item--active"><span>about</span></a>
      <a class="Nav__item" ui-sref="test" ui-sref-active="Nav__item--active"><span>test</span></a>
      <a class="Nav__item"><span>orange</span></a>
      <a class="Nav__item"><span>banana</span></a>
      <a class="Nav__item"><span>avocado</span></a>
      <a class="Nav__item"><span>apples</span></a>
      <!-- <h1>Lorem ipsum dolor.</h1>
      <h2>Lorem ipsum dolor.</h2>
      <h3>Lorem ipsum dolor.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minima, voluptatum, reprehenderit praesentium, officia excepturi quia dolores repellat rem quae illo consectetur, sed.</p> -->
    </nav>
    <footer></footer>
  </body>
  <script src="http://files.keyes.ie/things/baseliner/baseliner-latest.min.js">
  </script>
  <script>
  // window.onload = function() {
  //     baseliner = new Baseliner({
  //       gridHeight: 22,
  //       gridOffset: 35,
  //       gridColor: 'red',
  //       gridOpacity: 50
  //     });
  // }
  </script>
</html>